<section class="event-page">
  <h2>Event details</h2>
  <ul class="event-details">
    <li>
      <p class="event-detail-label">Name:</p>
      <p class="event-detail"><%= @event.name %></p>
    </li>

    <li>
      <p class="event-detail-label">Status:</p>
      <p class="event-detail"><%= @event.canceled? ? "CANCELED" : "NOT CANCELED" %></p>
    </li>

    <li>
      <p class="event-detail-label">Date:</p>
      <p class="event-detail"><%= @event.date %></p>
    </li>

    <li>
      <p class="event-detail-label">Time:</p>
      <p class="event-detail"><%= @event.time %></p>
    </li>

    <li>
      <p class="event-detail-label">Location:</p>
      <p class="event-detail"><%= @event.location %></p>
    </li>

    <li>
      <p class="event-detail-label">Description:</p>
      <p class="event-detail"><%= @event.description %></p>
    </li>
  </ul>

  <h2 class="attendees-label">Attendees</h2>
  <form class="new-attendee" action="/event/<%= @event.key %>/attend" method="get">
    <button type="submit">Add</button>
  </form>
  <ul class="event-attendees">
    <% if @event.attendees %>
      <% @event.attendees.each do |attendee|%>
        <li>
            <form action="/event/<%= @event.key %>/bail" method="get">
              <input name="attendee_email" type="hidden" value="<%= attendee.email %>">
              <button type="submit"><%= attendee.name %> (<%= attendee.email %>)</button>
            </form>
        </li>
      <% end %>
    <% end %>
  </ul>
<section>
